#main,
#sendButton {
    margin: 1rem;
}

svg {
    width: 20px;
    height: 20px;
    margin-bottom: -5px;
}

#identity {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

ul {
    padding: 0;
}

li {
    list-style-type: none;
    padding: 0.5rem 1rem;
    background-color: #333;
    color: white;
    border-radius: 1rem;
    margin: 0.25rem 0rem;
}

button.timeBtn {
    border-radius: 0.5rem;
    padding: 0.25rem 0.5rem;
    border-width: 1px;
    border-style: dashed;
    font-family: monospace;
    float: right;
    margin: -0.15rem 0.25rem;
}
.addtimeBtn {
    background-color: green;
    color: white;
    border-color: white;
}
.rmtimeBtn {
    background-color: red;
    color: black;
    border-color: black;
}

#message-form {
    margin-top:5rem;
}